{% extends "base.html" %}
{% block title %}Paper Detail{% endblock %}
{% block content %}
<div class="container">
    <h2>{{ paper.title|safe }}</h2>
    <h3>{{ paper.author }}</h3>
    <h4>{{ paper.info_string|safe }}</h4>
    <h4>Keywords: {{ paper.keyword_string|safe }}</h4>
    <h5>
        Reprint:
        {% if paper.reprint %}
        <i class="fa fa-check"></i>
        {% else %}
        <i class="fa fa-times"></i>
        {% endif %}
        &nbspPDF:
        {% if paper.pdf %}
        <i class="fa fa-check"></i>
        {% else %}
        <i class="fa fa-times"></i>
        {% endif %}
    <h5>
</div>
{% endblock %}
