{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block active_search %}active{% endblock %}
{% block content %}
<div class="container">
    <form action="" method="get" id="searchForm">
        <table class="table">
            <div classs="row">
                <div class="col-md-6"><h4>Title</h4>{{ paperform.title }}</div>
                <div class="col-md-6"><h4>Author</h4>{{ paperform.author }}</div>
            </div>
            <div classs="row">
                <div class="col-md-6"><h4>Journal</h4>{{ paperform.journal }}</div>
                <div class="col-md-6"><h4>Keywords</h4>{{ paperform.keyword }}</div>
            </div>
            {{ dateform.date_start.as_hidden }}
            {{ dateform.date_end.as_hidden }}
        </table>
        <div style="margin:30px">
            <div id="slider"></div>
        </div>
        <div class="row" style="text-align:center">
            <input type="submit" class="btn btn-primary" value="Search" onclick="DateVals()" />
        </div>
    </form>
    <div>
        <table class="table" id="fancy_table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Journal</th>
                    <th>Year</th>
                    <th>Volume</th>
                    <th>Keywords</th>
                </tr>
            </thead>
            <tbody>
                {% for paper in papers %}
                <tr>
                    <td><a href = "{% url 'paper_detail' pk=paper.pk %}">{{ paper.title|safe }}</a></td>
                    <td>{{ paper.author }}</td>
                    <td>{{ paper.journal }}</td>
                    <td>{{ paper.date }}</td>
                    <td>{{ paper.volume }}</td>
                    <td>{{ paper.keyword_string|safe }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        date_start = $('#id_date_start').val();
        date_end = $('#id_date_end').val();
        $('#fancy_table').DataTable({"bFilter": false});
        $("#slider")
            .slider({
                min: {{ date_min }},
                max: {{ date_max }},
                range: true,
                values: [date_start, date_end]
            })
        .slider("pips", {
        })
            .slider("float");
        $("#slider").on("slidechange", function(e, data){
            date_start = data.values[0];
            date_end = data.values[1];
            $('#id_date_start').attr('value', date_start);
            $('#id_date_end').attr('value', date_end);
        });
    } );
</script>
{% endblock %}
